In [1]:
import pandas as pd
import dash
import numpy as np
import plotly.express as px
import pandas_profiling

# Import the csv file

In [9]:
import pandas_profiling

In [248]:
df=pd.read_csv('BPD_Part_1_Victim_Based_Crime_Data.csv')

D:\Python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning:

Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.

# Data Integrity Check

In [10]:
# generating the EDA 
df.profile_report(title='Pandas Profiling Report').to_file(output_file="eda.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=30.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

* Duplicates of records
* High correlation between some variables
* Missing values on two variables

## Grouping the records to keep the number of incidents but drop duplicates

In [249]:
df_nodup=df.fillna('')\
      .groupby(df.columns.tolist()).apply(len)\
      .rename('group_count')\
      .reset_index()\
      .replace('',np.nan)\
      .sort_values(by = ['group_count'], ascending = False)

## ~~ Convert the Data/Time to proper time format~~

In [250]:
# df_nodup.CrimeDate=pd.to_datetime(df_nodup.CrimeDate)
# df_nodup.CrimeTime=pd.to_timedelta(df_nodup.CrimeTime)
# df_nodup.CrimeTime_dt=pd.to_datetime(df_nodup.CrimeTime)

## Handling missing values

In [251]:
df_nodup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296586 entries, 215100 to 296585
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CrimeDate        296586 non-null  object
 1   CrimeTime        296561 non-null  object
 2   CrimeCode        296586 non-null  object
 3   Location         295207 non-null  object
 4   Description      296586 non-null  object
 5   Inside/Outside   260776 non-null  object
 6   Weapon           59666 non-null   object
 7   Post             294212 non-null  object
 8   District         296586 non-null  object
 9   Neighborhood     286259 non-null  object
 10  Longitude        294900 non-null  float64
 11  Latitude         294900 non-null  float64
 12  Location 1       0 non-null       float64
 13  Premise          260538 non-null  object
 14  vri_name1        35204 non-null   object
 15  Total Incidents  296586 non-null  int64
 16  group_count      296586 non-null  int64
dtypes: float64(3), int64(2), object(12)
memory usage: 40.7+ MB

In [252]:
df_nodup[df_nodup['vri_name1'].notna()].head(10)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents,group_count
2922,1/12/2015,4:40:00,4A,1700 NORMAL AV,AGG. ASSAULT,I,FIREARM,312,EASTERN,DARLEY PARK,-76.593663,39.315562,NaN,ROW/TOWNHOUSE-OCC,Eastern 1,1,10
123765,3/17/2020,18:27:00,4A,1800 RAMSAY ST,AGG. ASSAULT,NaN,FIREARM,934,SOUTHERN,CARROLLTON RIDGE,-76.645249,39.283106,NaN,NaN,Tri-District,1,9
271597,8/9/2017,20:22:00,4C,2100 HOLLINS ST,AGG. ASSAULT,I,OTHER,835,SOUTHWEST,BOOTH-BOYD,-76.650689,39.287050,NaN,ROW/TOWNHOUSE-OCC,Tri-District,1,9
89916,12/3/2014,15:11:00,4C,1000 EDMONDSON AV,AGG. ASSAULT,I,OTHER,713,WESTERN,HARLEM PARK,-76.634581,39.295513,NaN,ROW/TOWNHOUSE-OCC,Central,1,8
179796,5/25/2015,0:01:00,6E,5100 REISTERSTOWN RD,LARCENY,O,NaN,613,NORTHWEST,LANGSTON HUGHES,-76.682544,39.342345,NaN,PARKING LOT-OUTSIDE,Northwestern,1,8
228996,7/19/2017,16:33:00,3JF,1600 N BROADWAY,ROBBERY - RESIDENCE,I,FIREARM,314,EASTERN,OLIVER,-76.595103,39.308805,NaN,ROW/TOWNHOUSE-OCC,Eastern 1,1,6
155708,4/27/2015,16:00:00,4C,1600 W NORTH AVE,AGG. ASSAULT,O,OTHER,733,WESTERN,PENN NORTH,-76.643429,39.310091,NaN,STREET,Western,1,6
184451,5/3/2016,3:33:00,4A,2200 E BIDDLE ST,AGG. ASSAULT,O,FIREARM,331,EASTERN,BROADWAY EAST,-76.586960,39.304670,NaN,STREET,Eastern 2,1,6
93188,12/5/2018,20:44:00,4E,2400 W BALTIMORE ST,COMMON ASSAULT,I,NaN,714,WESTERN,SHIPLEY HILL,-76.655035,39.287728,NaN,HOSP/NURS. HOME,Tri-District,1,6
29289,10/14/2015,0:02:00,4C,1000 DRUID HILL AVE,AGG. ASSAULT,I,OTHER,123,CENTRAL,UPTON,-76.626366,39.300154,NaN,ROW/TOWNHOUSE-OCC,Central,1,6

In [253]:
# df_nodup[df_nodup['vri_name1'].notna()][['vri_name1','District']].
pd.pivot_table(index=['vri_name1'], columns=['District'], data=df_nodup[df_nodup['vri_name1'].notna()][['vri_name1','District','Total Incidents']], aggfunc=np.sum)

             Total Incidents                                                 \
District             CENTRAL EASTERN NORTHEAST NORTHERN NORTHWEST SOUTHEAST
vri_name1
Brooklyn                 NaN     NaN       NaN      NaN       1.0       NaN
Central               2783.0    29.0       NaN      1.0       1.0       NaN
Eastern 1               11.0  4611.0     184.0      NaN       NaN       NaN
Eastern 2                4.0  3398.0       NaN      1.0       NaN      31.0
Northeastern             NaN     1.0    2981.0      NaN       NaN       NaN
Northwestern             1.0     NaN       NaN      1.0    3254.0       NaN
Tri-District             NaN     NaN       NaN      NaN       1.0      73.0
Western                  8.0    34.0       2.0      NaN       2.0       NaN


District     SOUTHERN SOUTHWEST UNKNOWN WESTERN
vri_name1
Brooklyn       2471.0       1.0     2.0     NaN
Central           5.0       1.0     1.0  2677.0
Eastern 1         NaN       1.0     2.0    19.0
Eastern 2         NaN       NaN     1.0     NaN
Northeastern      NaN       NaN     1.0     NaN
Northwestern      NaN       NaN     NaN     NaN
Tri-District   3121.0    2624.0     2.0   927.0
Western           7.0       1.0     2.0  5925.0

In [254]:
df_nodup=df_nodup.drop(columns=['Location 1','vri_name1'])

## Value Consistency

In [255]:
df_nodup.CrimeCode.unique()

array(['5D', '5E', '4C', '6D', '5A', '4A', '4E', '3AF', '6E', '6J', '9S',
       '3JF', '3CF', '3NF', '6A', '6G', '3B', '4B', '5F', '8AO', '3P',
       '3AO', '6C', '8AV', '3AK', '7A', '5G', '3JO', '4D', '5C', '7C',
       '2A', '6L', '1A', '3GK', '8GO', '6F', '3BJ', '8H', '3AJF', '3K',
       '3AJK', '3GF', '8BO', '3JK', '3F', '1K', '5B', '3EF', '3D', '3NK',
       '3LF', '3CO', '6B', '8J', '3CK', '8FO', '1O', '8EO', '8BV', '6H',
       '3NO', '3GO', '3AJO', '3M', '7B', '3EO', '3H', '2B', '3EK', '3LO',
       '8CO', '6K', '8GV', '8CV', '3LK', '8FV', '8EV', '8I', '8DO', '3N'],
      dtype=object)

In [256]:
df_nodup.Description.unique()

array(['BURGLARY', 'AGG. ASSAULT', 'LARCENY FROM AUTO', 'COMMON ASSAULT',
       'ROBBERY - STREET', 'LARCENY', 'SHOOTING', 'ROBBERY - RESIDENCE',
       'ROBBERY - COMMERCIAL', 'ARSON', 'AUTO THEFT', 'RAPE', 'HOMICIDE',
       'ROBBERY - CARJACKING'], dtype=object)

In [257]:
#Before Mapping

In [258]:
df_nodup['Inside/Outside'].unique()

array(['I', nan, 'O', 'Outside', 'Inside'], dtype=object)

In [259]:
df_nodup['Inside/Outside']=df_nodup['Inside/Outside'].map({'O':'Outside','I':'Inside'})

In [260]:
#After Mapping

In [261]:
df_nodup['Inside/Outside'].unique()

array(['Inside', nan, 'Outside'], dtype=object)

In [262]:
# cleaning posts

In [263]:
df_nodup.loc[df_nodup['Post'].notna(),'Post']=df_nodup[df_nodup['Post'].notna()]['Post'].apply(lambda x: str(x).replace('.0',''))

In [264]:
df_nodup['Post'].unique()

array(['922', '232', '533', '731', '832', '835', '912', '625', '632',
       '426', '724', '813', '212', '441', '411', '423', '445', '714',
       '941', '511', '312', '622', '634', '614', nan, '132', '934', '125',
       '833', '334', '134', '713', '313', '633', '923', '225', '322',
       '613', '231', '711', '624', '222', '523', '413', '721', '443',
       '323', '942', '114', '425', '124', '113', '723', '822', '433',
       '424', '121', '621', '211', '712', '422', '314', '512', '824',
       '221', '534', '733', '331', '233', '412', '123', '631', '812',
       '214', '324', '514', '821', '931', '521', '911', '111', '722',
       '224', '414', '234', '513', '213', '442', '532', '834', '321',
       '943', '525', '223', '432', '612', '831', '735', '734', '131',
       '112', '431', '935', '932', '814', '421', '623', '333', '921',
       '823', '913', '434', '311', '332', '524', '522', '515', '531',
       '444', '133', '611', '811', '815', '732', '415', '122', '933',
       'ED4', '427', 'SW2', '816', 'ED1', '626', '141'], dtype=object)

In [266]:
df_nodup.to_csv('cleaned_df.csv',index=False)

In [231]:
df_nodup['Year']=df_nodup.CrimeDate.dt.year

In [232]:
df_nodup['Month']=df_nodup.CrimeDate.dt.month

In [233]:
df_nodup['Day']=df_nodup.CrimeDate.dt.day

In [234]:
df_nodup['DayofWeek']=df_nodup.CrimeDate.dt.dayofweek

In [ ]:
df_nodup.CrimeTime_dt.dt.hour

In [245]:
df_nodup.to_csv('nodup.csv')